@use '@carbon/layout';
@use '@carbon/colors';

.loadingContainer {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.workspaceContainer {
  margin: layout.$spacing-05;
  flex: 1;
}

.expandedActionRow {
  background-color: colors.$white;
  transition: background-color 0.2s ease-in-out;
}
